.active_flex{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.underhead{
  width: 565px;
  height: 145px;
  background-color: #363636;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.navbar-expand-lg{
  width: 565px;
}
.underhead__logo-img{
width: 80px;
  height: 50px;
}
.underhead__phone{
  font-family: ﻿AdobeInvisFont, ﻿Poppins-SemiBold, ﻿Courier, sans-serif;
  font-size: 17pt;
  color: rgba(216, 216, 216, 255);
  text-align: left;
}
.underhead__img{
  background-color: #d58e32;
  width: 45px;
  height: 43px;
  border-radius: 3px;
}
.fa{
  font-size: 22px;
  color: white;
  padding: 9px 9px 9px 9px;
}
.nav-link{
  text-color: white;
}
.searchHeader{
  width: 565px;
  height: 80px;
  background-color: #ffffff;
  border: 1px solid black;
  padding: 17px 0px 16px 53px;
  &__input{
    width: 227px;
    height: 47px;
    //padding-right: 16px;
  }
}
#carouselExampleInterval{
  width: 565px;
  height: 300px;
  margin: 0 auto;
}
.services__card{
  border-radius: 31px;
  border: 1px solid black;
  width: 62px;
  height: 62px;
  margin: 0 auto;
  padding: 16px ;
}
.section{
  width: 565px;
}
.services__background{
  border-radius: 38px;
  border: 1px solid black;
  width: 76px;
  height: 76px;
  padding-top: 6px;
  position: absolute;
  top: -35px;
  left: 92px;
  background-color: white;
}
.services__li{
  list-style-type: none;
  position: relative;
  margin-top: 66px;
  &__card{
    color: black;
  }
}
.li__spanfirst{
  font-family: ﻿AdobeInvisFont, ﻿Poppins-Light, ﻿Poppins-SemiBold, ﻿Courier, sans-serif;
  font-size: 20px;
  color: rgba(42, 42, 42, 255);
  text-align: center;
  padding-top: 38px;
}
.li__spansecond{
  font-family: ﻿AdobeInvisFont, ﻿Poppins-Light, ﻿Poppins-SemiBold, ﻿Courier, sans-serif;
  font-size: 20px;
  color: rgba(42, 42, 42, 255);
  text-align: center;
}
.li__box{
  width: 263px;
  height: 121px;
  border: 1px solid black;
}
.specialProposal{
  width: 453px;
  height: 133px;
  background-color: #e8edf7;
  margin-top: 81px;
  margin-left: 50px;
  position: relative;
}
.specialProposal__chair{
  position: absolute;
}
.specialProposal__text{
  position: absolute;
  left: 140px;
}
.specialProposal__chairbig{
  position: absolute;
  left: 336px;
}

.text__header{
  font-family: ﻿AdobeInvisFont, ﻿Poppins-SemiBold, ﻿Courier, sans-serif;
  font-size: 22px;
  color: rgba(0, 0, 0, 255);
  text-align: left;
  text-transform: uppercase;
  padding-top: 5px;

}
.text__body{
  font-family: ﻿AdobeInvisFont, ﻿Poppins-SemiBold, ﻿Courier, sans-serif;
  font-size: 15px;
  color: rgba(0, 0, 0, 255);
  text-align: left;
  text-transform: uppercase;
}
.text__price{
  font-family: ﻿AdobeInvisFont, ﻿Poppins-SemiBold, ﻿Courier, sans-serif;
  font-size: 27px;
  color: rgba(213, 142, 50, 255);
  text-align: left;
}
.underSpecialProp{
  width: 453px;
  height: 133px;
  background-color: #fbf3f7;
  position: relative;
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 66px;
}
.underSpecialProp__text{
  position: absolute;
  left: 240px;
}
.underSpecialProp__bad{
  position: absolute;
}
.text__special{
  font-family: ﻿MyriadPro-Regular, ﻿AdobeInvisFont, ﻿Poppins-Light, ﻿Poppins-SemiBold, ﻿Courier, sans-serif;
  font-size: 16px;
  color: rgba(213, 142, 50, 255);
  text-align: left;
  padding-top: 40px;
  text-transform: uppercase;
}
.text__discont{
  font-family: ﻿AdobeInvisFont, ﻿Poppins-Light, ﻿Courier, sans-serif;
  font-size: 12px;
  color: rgba(0, 0, 0, 255);
  text-align: left;
  text-transform: uppercase;
}
.prodacts__header{
  position: relative;
}
.prodacts__header>p{
  font-family: ﻿AdobeInvisFont, ﻿Poppins-SemiBold, ﻿Courier;
  font-size: 27px;
  color: rgba(42, 42, 42, 255);
  text-align: left;
  text-transform: uppercase;
  padding-left: 50px;
  top: -44px;
  position: absolute;
}
.header__filter{
  position: absolute;
  width: 107px;
  height: 34px;
  border: 1px  solid;
  top: -39px;
  left: 350px;
}
.filter__img{
  display: inline-block;
  padding-left: 7px;
}
.filter__text{
  display: inline-block
}
.carousel-item .active{
  width: 260px;
  height: 260px;
}
//---------------------chair

.chair .active{
  display: flex;
  justify-content: center;
  align-items: center;

}
.carousel-inner{

}




footer{
  height: 565px;
  background-color: #363636;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //display: inline-block;
}
.inform__li {
  list-style-type: none;
  color: white;
}
.inform{
  display: inline-block;
  width: 49%;

  &__1c{
    display: flex;
    flex-direction: row;
  }

}
.inform>ul>li{
    list-style-type: none;
    display: flex;

  //padding: 5px;
  }


.inform__social-network{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}
.inform__li:last-child{
  display: flex;
  flex-direction: column;

}

.afterfooter{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  height: 128px;
  background-color: #2a2a2a;

  &__p{
    text-align: center;
    font-size: 14px;
    color: rgba(169, 169, 169, 255);

  }
  &__sn{
    color: #ffffff;
    list-style-type: none;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  &__sn li:hover{
    color: #d58e32;
    cursor: pointer;
  }
}
$width:500px;

body{
  width: $width;
  font-family: ﻿AdobeInvisFont, ﻿Poppins-Regular, ﻿Courier, sans-serif;
}

.rollerCoaster{
  width: 100%;
  flex-direction: column;

  &__top-Menu{
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
  }

  &__largeImage{
    background-color: #f4f5f7;
    height: $width;
    position: relative;
    display: flex;

   }
  &__largeImage img{
    position: absolute;
    right: 0;
    width: 90%;
    height:90%;
border-collapse: collapse;
  }

  &__largeImage-icons:not(:first-child){
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    top: calc(50% - 70px);
  }
  &__largeImage-icons li{
    width: 37px;
    height: 37px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-left: 10px;
  }
  &__largeImage-icons li:hover{
    color:#d58e32;
    border: 1px solid #d58e32;
    cursor: pointer;
  }

  &__photos{
    flex-direction: column;

  }


  &__photos img{

    height: 90%;
  }

  &__photos ul{
    display: flex;
    width: $width;
    overflow: hidden;
  }

  &__photos>li{
    display: flex;
    flex-direction: row;
  }

  &__photos--featured li{
    width: 70px;
    height: 70px;
    border: 1px solid black;
    display: inline-block;
    //justify-content: center;
    //align-items: center;
  }
}









